<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#"><i class='bx bx-cart' ></i></a>
        <h1>CampusShop</h1>
        <nav class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class='bx bx-menu'></i>
            </label>
            <ul class="nav__menu">
                <li><a href="#producto1">producto 1</a></li>
                <li><a href="#producto2">producto 2</a></li>
                <li><a href="#producto3">producto 3</a></li>
                <li><a href="#producto4">producto 4</a></li>
                <li><a href="#producto5">producto 5</a></li>
                <li><a href="#producto6">producto 6</a></li>
                <li><a href="#producto7">producto 7</a></li>
                <li><a href="#producto8">producto 8</a></li>
                <li><a href="#producto9">producto 9</a></li>
                <li><a href="#producto10">producto 10</a></li>
                <li><a href="#producto11">producto 11</a></li>
                <li><a href="#producto12">producto 12</a></li>
                <li><a href="#producto13">producto 13</a></li>
                <li><a href="#producto14">producto 14</a></li>
                <li><a href="#producto15">producto 15</a></li>
            </ul>
        </nav>
    </header>
    <div id="cardInf">
        <button class="trash"><a href="../index.html"><i class='bx bx-trash-alt' ></i></a></button>
        <section class="img">
            <img src="../storage/img/cafe.webp">
        </section>
        <section class="txt">
            <h1>nombre del producto</h1>
            <div class="starsCard">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sit soluta quidem, amet culpa doloribus vero incidunt quisquam accusantium fuga inventore expedita ipsa repellendus nemo dicta laudantium, officiis, quasi nam.</p>
            <section class="priceCard">
                <h1>$ 100,000</h1>
                <small>$99.99</small>
            </section>
            <div class="cantidad">
                <input type="text" placeholder="Cantidad">
                <button>Agregar</button>
            </div>
        </section>
    </div>
</body>
</html>