<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="body_cart">
    <header class="header header_cart">
        <a href="#"><i class='bx bx-cart' ></i></a>
        <h1>CampusShop</h1>
        <nav class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class='bx bx-menu'></i>
            </label>
            <ul class="nav__menu">
                <li><a href="#producto1">producto 1</a></li>
                <li><a href="#producto2">producto 2</a></li>
                <li><a href="#producto3">producto 3</a></li>
                <li><a href="#producto4">producto 4</a></li>
                <li><a href="#producto5">producto 5</a></li>
                <li><a href="#producto6">producto 6</a></li>
                <li><a href="#producto7">producto 7</a></li>
                <li><a href="#producto8">producto 8</a></li>
                <li><a href="#producto9">producto 9</a></li>
                <li><a href="#producto10">producto 10</a></li>
                <li><a href="#producto11">producto 11</a></li>
                <li><a href="#producto12">producto 12</a></li>
                <li><a href="#producto13">producto 13</a></li>
                <li><a href="#producto14">producto 14</a></li>
                <li><a href="#producto15">producto 15</a></li>
            </ul>
        </nav>
    </header>
    <main class="main_cart">
        <section class="top_cart">
            <div> </div>
            <h1>Detalles</h1>
            <a href="../index.html"><i class='bx bx-window-close' ></i></a>
        </section>
        <section class="middle">
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
            <div class="cardMid">
                <img src="../storage/img/cafe.webp">
                <section class="number">
                    <h3>Nombre del producto</h3>
                    <p>5</p>
                </section>
                <p>& 500.000</p>
                <sub>$499.95</sub>
                <i class='bx bx-trash-alt' ></i>
            </div>
        </section>
        <section class="down">
            <h1>Total</h1>
            <div>
                <h1>$1.999.8</h1>
                <button>Pagar</button>
            </div>
        </section>
    </main>
</body>
</html>